---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Rhytham is an Innovative AI Engineer with 4 years of experience enhancing media products through advanced AI technologies. He specializes in building NLP workflows, RAG pipelines, and multi-modal AI features.
		</p>
		<p>He is passionate about automating business insights and streamlining decision-making through generative AI.</p>
	</div>
</div>


